body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  border: none;
  background-color: #3e91ff;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;

  /* -webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: auto; */
}

.button:hover {
  background-color: #347ad4;
}

.button-secondary {
  border: none;
  background-color: rgba(255,255,255,0.8);
  padding: 10px 16px;
  border-radius: 8px;
  color: #347ad4;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;

  /* -webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: auto; */
}

.button-secondary:hover {
  color: #347ad4;
  background-color: white;
}

.title {
  font-size: 1.3rem;
  margin: 0;
}

.text {
  font-size: 1rem;
  margin: 4px 0;
  width: 100%;
  text-align: left;
}

select, input {
  outline: none;
}

@media (max-width: 520px) {
  .title {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.9rem;
  }
}